{% extends '::base.html.twig' %}

{% set active_section = 'classes' %}

{% block body -%}
    <div class="page-header">
        <h1>Ship Classes</h1>
    </div>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Crew</th>
                <th>Equipment</th>
                <th>Payload</th>
            </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td><a href="{{ path('classes_edit', { 'id': class.id }) }}">{{ class.name }}</a></td>
                <td>{{ class.price }} credits</td>
                <td>{{ class.crewSize }}</td>
                <td>{{ class.equipmentCapacity }} mount points</td>
                <td>{{ class.payloadCapacity }} tons</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li><a href="{{ path('classes_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add ship class</a></li>
    </ul>
{% endblock %}
